---
import Dark from "../../../public/svg/Dark.astro";
import Search from "../../../public/svg/Search.astro";


const Anchors = [
    {
        name: "Home",
        tag: "home",
    },
    {
        name: "Recomendations",
        tag: "recomendations",
    },
    {
        name: "Trends",
        tag: "trends",
    },
    {
        name: "FAQS",
        tag: "faqs",
    },
];
---

<nav class="hidden p-4 sm:flex justify-between gap-x-10 bg-black text-white">
    <div class="flex items-center w-1/3">
        <h1
            class="font-bold text-xl bg-gradient-to-r from-blue-400 to-emerald-400 text-transparent bg-clip-text inline-block"
        >
            TravelApp
        </h1>
    </div>
    <section class="flex justify-between items-center gap-x-4 w-1/3">
        {
            Anchors.map((item) => (
                <a class="font-semibold hover:text-primary focus:text-primary transition-all duration-150" href={`#${item.tag}`}>
                    {item.name}
                </a>
            ))
        }
    </section>
    <section class="flex items-center justify-center gap-x-6 w-1/3">
        <button >
            <Search  class="size-5" />
        </button>
        <button >
            <Dark class="size-5" />
        </button>
    </section>
</nav>
