---
import { Image } from "astro:assets";
import SanFraciscoDesktop from "../../../public/img/sanFranciscoDesktop.jpg";
---

<main id="home"  class="w-full h-auto">
    <section class="home">
        <div class="w-full relative h-3/4">
            <div
                class="w-full h-full sm:w-1/2  flex flex-col py-6 pb-8 absolute top-1 items-center justify-around sm:justify-center sm:gap-y-4 sm:items-start sm:pl-12"
            >
                <input
                    type="search"
                    class="w-58 outline-none rounded-full text-center py-1 px-2 shadow  focus:ring-2 focus:w-64 transition-all duration-300 sm:hidden"
                    placeholder="San Francisco"
                    name=""
                    id=""
                />
                <div class="hidden sm:flex">
                    <p class="text-3xl text-pretty font-semibold bg-gradient-to-b inline-block from-sky-500  to-red-600 text-transparent bg-clip-text">Find more location like this one</p>
                </div>
                <button
                    class="w-36 z-20 font-semibold rounded-full p-1 shadow-md  bg-white text-md text-primary px-2 transition-all duration-300 ease-in-out hover:bg-primary
                     hover:text-white transform hover:-translate-y-1 hover:scale-110 "
                >
                    Explore more
                </button>
            </div>
            <div class="w-full h-full md:h-96 md:bg-san-francisco-desktop  bg-cover bg-center">
                <Image class='md:hidden' src={SanFraciscoDesktop} alt="SF" />
                <div class="absolute inset-x-0 bottom-0 h-32 bg-gradient-to-b from-transparent to-slate-200 dark:to-gray-950"></div>
            </div>
        </div>
    </section>
</main>
