---
const Cards = []
---

<section 
class="flex justify-center mt-12"
id="recomendation">
    <div class="Card">
        <div class="CardImg bg-norway"></div>
        <div class="bg-secondary text-white pt-1 px-4 rounded-b h-2/5">
        <p class=" text-bold text-xl">
            Norway
        </p>
        <p class="leading-5"> 
            Lorem ipsum dolor sit amet  
        </p>
        </div>
    </div>
</section>