---
const Cards = [
    {
        location: "Norway",
        description: "Beautiful landscapes",
        image: "bg-norway",
        style: 'bg-secondary text-white'
    },
    {
        location: "New York",
        description: "Culturally diverse city",
        image: "bg-new-york",
        style: 'bg-white text-terciary'

    },
    {
        location: "bali",
        description: "Perfect weather",
        image: "bg-bali",
        style: 'bg-secondary text-white'
    },
    {
        location: "Iceland",
        description: "Unique country",
        image: "bg-iceland",
        style: 'bg-white text-terciary'

    },
    {
        location: "Europe",
        description: "Great architecture",
        image: "bg-europe",
        style: 'bg-secondary text-white'
    },
    {
        location: "Seattle",
        description: "A special city",
        image: "bg-seattle",
        style: 'bg-white text-terciary'

    },
    {
        location: "Los Angeles",
        description: "Just need to be there",
        image: "bg-LA",
        style: 'bg-secondary text-white'
    },
    {
        location: "Sydney",
        description: "Nothing to compare",
        image: "bg-sydney",
        style: 'bg-white text-terciary'

    },
    {
        location: "Miami",
        description: "Let's have fun",
        image: "bg-miami",
        style: 'bg-secondary text-white'
    },
    {
        location: "Switzerland",
        description: "Magic places all over there",
        image: "bg-switzerland",
        style: 'bg-white text-terciary'

    },
    {
        location: "Yosemite",
        description: "Pure nature, nothing more",
        image: "bg-yosemite",
        style: 'bg-secondary text-white'

    },
    {
        location: "Chicago",
        description: "Vibrant Arts and Culture Scene",
        image: "bg-chicago",
        style: 'bg-white text-terciary'
    },
    {
        location: "San Francisco",
        description: "Foodie Paradise",
        image: "bg-san-francisco",
        style: 'bg-secondary text-white'

    },
];
---

<main id="recomendations" class="m-8 mx-6 mt-12">
    <h1 class="text-primary text-2xl font-semibold">Our Recomendations</h1>
    <div
        class="w-auto h-80 items-center my-6 overflow-x-auto overflow-y-hidden overscroll-x-contain scroll-my-1 scroll-smooth snap-mandatory  snap-x gap-x-4 flex justify-start px-2"
    >
        {
            Cards.map((it) => (
                <div class=" Card relative mb-8 ">
                    <div class={`group CardImg ${it.image} flex justify-center  `} >
                        <div class={`${it.style} pt-1 px-4 overflow-hidden rounded-2xl w-44 h-16  absolute -bottom-8 group-hover:translate-y-[-20%] group-hover:h-24 transition-all`}>
                            <p class="text-bold text-xl">{it.location}</p>
                            <p class="leading-4 text-sm ">{it.description}</p>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</main>
