---

---
<section class="px-4 w-full h-full">
    <p class="text-primary text-xl font-semibold">Trending Stays</p>
    <div>
        <div class="w-full h-96 bg-chicago bg-cover rounded-xl p-4">
            <p class="">Chicago</p>
            <p>2 Rooms, 1 Bathroom and Kitchen</p>
        </div>
    </div>
</section>