---

---

<section id='trend' class="px-6 w-full h-full">
    <p class="text-primary text-2xl font-semibold mb-6">Trending Stays</p>
    <div
        class="w-full h-full flex flex-col items-center justify-center gap-y-6"
    >
        <div class="w-full h-96 bg-chicago bg-cover bg-center rounded-xl p-4">
            <p class="TrendTitle">Chicago</p>
            <p class="text-xl text-pretty pl-8">2 Rooms, 1 Bathroom and 1 kitchen</p>
        </div>
    </div>
    <div class="w-full h-full flex flex-col md:flex-row my-6 gap-4">
        <div class="w-full h-96 bg-LA bg-cover bg-center rounded-xl p-4">
            <p class="TrendTitle">Los Angeles</p>
            <p class="text-xl text-pretty pl-8 text-white">
                4 Rooms, 3 Bathroom, kitchen and private pool
            </p>
        </div>
        <div class="flex flex-col w-full h-full md:h-96 gap-4">
            <div class="w-full h-96 md:h-1/2 rounded-xl bg-miami bg-cover bg-center">
                <p class="TrendTitle">Miami</p>
                <p class="text-xl text-pretty text-white pl-8">4 Rooms, 2 bathrooms, kitchen, private pool and beach</p>
            </div>
            <div class="w-full h-96 md:h-1/2 rounded-xl bg-bali bg-cover bg-center">
                <p class="TrendTitle">Bali</p>
                <p class="text-xl text-pretty text-white pl-8"> 3 Rooms, 2 Bathrooms, kitchen, BBQ and private pool</p>
            </div>
        </div>
    </div>
</section>
